# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
Debug
RelWithDebInfo
Win32
header-parser.dir

# Qt Creator
CMakeLists.txt.user

# Visual Studio files
*.vcxproj
*.vcxproj.filters
*.sln
.vs

# CMAKE files
CMakeSettings.json
CMakeCache.txt
cmake_install.cmake
CMakeFiles

# CLion files
cmake-build-*/
.idea