[submodule "external/rapidjson"]
	path = external/rapidjson
	url = git@github.com:miloyip/rapidjson.git
	fetchRecurseSubmodules = false
[submodule "external/cmdline"]
	path = external/cmdline
	url = git@github.com:tanakh/cmdline.git
[submodule "external/cxxopts"]
	path = external/cxxopts
	url = git@github.com:jarro2783/cxxopts.git
[submodule "external/tclap"]
	path = external/tclap
	url = git@github.com:eile/tclap.git
